
# Week 3 

# Peer-graded Assignment: Capstone Project Notebook 


## Objectives

This Notebook will be mainly used for the capstone project done by Conrado Montealegre

<h2 id="1. Start by creating a new Notebook for this assignment">1. Start by creating a new Notebook for this assignment</h2>

Done...

<h2 id="2. Scraping">2. Scraping</h2>

Importing libraries

In [13]:
import pandas as pd
import numpy as np
import requests
from lxml import html
from bs4 import BeautifulSoup
from IPython.display import Image 
from IPython.core.display import HTML 
from pandas.io.json import json_normalize
import folium # plotting library
print('Libraries imported.')

Libraries imported.

Creating Beautiful soup object

In [2]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(r.content, "html.parser")

Scraping wikipedia data...

In [3]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)

<h2 id="3. Creating the Dataframe">3. Creating the Dataframe</h2>

In [4]:
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})
#Sorting for clarity purpouses
df.sort_values(by=['PostalCode'], ascending=True, inplace=True)
df = df.reset_index(drop=True)

Brief description of the data frame

In [5]:
print("Number of Postal Codes: {}.\n Postal Codes are: {}".format(len(df.PostalCode.unique().tolist()) , df.PostalCode.unique()))
print("Number of Boroughs: {}.\n Boroughs are: {}".format(len(df.Borough.unique().tolist()) , df.Borough.unique()))
print("Number of Neighborhoods: {}.\n Neighborhoods are: {}".format(len(df.Neighborhood.unique().tolist()) , df.Neighborhood.unique()))

Number of Postal Codes: 103.
 Postal Codes are: ['M1B' 'M1C' 'M1E' 'M1G' 'M1H' 'M1J' 'M1K' 'M1L' 'M1M' 'M1N' 'M1P' 'M1R'
 'M1S' 'M1T' 'M1V' 'M1W' 'M1X' 'M2H' 'M2J' 'M2K' 'M2L' 'M2M' 'M2N' 'M2P'
 'M2R' 'M3A' 'M3B' 'M3C' 'M3H' 'M3J' 'M3K' 'M3L' 'M3M' 'M3N' 'M4A' 'M4B'
 'M4C' 'M4E' 'M4G' 'M4H' 'M4J' 'M4K' 'M4L' 'M4M' 'M4N' 'M4P' 'M4R' 'M4S'
 'M4T' 'M4V' 'M4W' 'M4X' 'M4Y' 'M5A' 'M5B' 'M5C' 'M5E' 'M5G' 'M5H' 'M5J'
 'M5K' 'M5L' 'M5M' 'M5N' 'M5P' 'M5R' 'M5S' 'M5T' 'M5V' 'M5W' 'M5X' 'M6A'
 'M6B' 'M6C' 'M6E' 'M6G' 'M6H' 'M6J' 'M6K' 'M6L' 'M6M' 'M6N' 'M6P' 'M6R'
 'M6S' 'M7A' 'M7R' 'M7Y' 'M8V' 'M8W' 'M8X' 'M8Y' 'M8Z' 'M9A' 'M9B' 'M9C'
 'M9L' 'M9M' 'M9N' 'M9P' 'M9R' 'M9V' 'M9W']
Number of Boroughs: 15.
 Boroughs are: ['Scarborough' 'North York' 'East York' 'East Toronto'
 'East York/East Toronto' 'Central Toronto' 'Downtown Toronto'
 'Downtown Toronto Stn A' 'York' 'West Toronto' "Queen's Park"
 'Mississauga' 'East Toronto Business' 'Etobicoke' 'Etobicoke Northwest']
Number of Neighborhoods: 103.
 Neighborhoods are: ['Malvern, Rouge' 'Rouge Hill, Port Union, Highland Creek'
 'Guildwood, Morningside, West Hill' 'Woburn' 'Cedarbrae'
 'Scarborough Village' 'Kennedy Park, Ionview, East Birchmount Park'
 'Golden Mile, Clairlea, Oakridge'
 'Cliffside, Cliffcrest, Scarborough Village West'
 'Birch Cliff, Cliffside West'
 'Dorset Park, Wexford Heights, Scarborough Town Centre'
 'Wexford, Maryvale' 'Agincourt' "Clarks Corners, Tam O'Shanter, Sullivan"
 "Milliken, Agincourt North, Steeles East, L'Amoreaux East"
 "Steeles West, L'Amoreaux West" 'Upper Rouge' 'Hillcrest Village'
 'Fairview, Henry Farm, Oriole' 'Bayview Village'
 'York Mills, Silver Hills' 'Willowdale, Newtonbrook' 'Willowdale South'
 'York Mills West' 'Willowdale West' 'Parkwoods' 'Don Mills North'
 'Don Mills South' 'Bathurst Manor, Wilson Heights, Downsview North'
 'Northwood Park, York University' 'Downsview East' 'Downsview West'
 'Downsview Central' 'Downsview Northwest' 'Victoria Village'
 'Parkview Hill, Woodbine Gardens' 'Woodbine Heights' 'The Beaches'
 'Leaside' 'Thorncliffe Park' 'The Danforth  East'
 'The Danforth West, Riverdale' 'India Bazaar, The Beaches West'
 'Studio District' 'Lawrence Park' 'Davisville North' 'North Toronto West'
 'Davisville' 'Moore Park, Summerhill East'
 'Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park'
 'Rosedale' 'St. James Town, Cabbagetown' 'Church and Wellesley'
 'Regent Park, Harbourfront' 'Garden District, Ryerson' 'St. James Town'
 'Berczy Park' 'Central Bay Street' 'Richmond, Adelaide, King'
 'Harbourfront East, Union Station, Toronto Islands'
 'Toronto Dominion Centre, Design Exchange'
 'Commerce Court, Victoria Hotel' 'Bedford Park, Lawrence Manor East'
 'Roselawn' 'Forest Hill North & West'
 'The Annex, North Midtown, Yorkville' 'University of Toronto, Harbord'
 'Kensington Market, Chinatown, Grange Park'
 'CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport'
 'Enclave of M5E' 'First Canadian Place, Underground city'
 'Lawrence Manor, Lawrence Heights' 'Glencairn' 'Humewood-Cedarvale'
 'Caledonia-Fairbanks' 'Christie' 'Dufferin, Dovercourt Village'
 'Little Portugal, Trinity' 'Brockton, Parkdale Village, Exhibition Place'
 'North Park, Maple Leaf Park, Upwood Park'
 'Del Ray, Mount Dennis, Keelsdale and Silverthorn'
 'Runnymede, The Junction North' 'High Park, The Junction South'
 'Parkdale, Roncesvalles' 'Runnymede, Swansea'
 'Ontario Provincial Government' 'Enclave of L4W' 'Enclave of M4L'
 'New Toronto, Mimico South, Humber Bay Shores' 'Alderwood, Long Branch'
 'The Kingsway, Montgomery Road, Old Mill North'
 "Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East"
 'Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West'
 'Islington Avenue'
 'West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale'
 'Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood'
 'Humber Summit' 'Humberlea, Emery' 'Weston' 'Westmount'
 'Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens'
 'South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens'
 'Clairville, Humberwood, Woodbine Downs, West Humber, Kipling Heights, Rexdale, Elms, Tandridge, Old Rexdale']

Pandas Dataframe

In [6]:
df.head(12)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                     Malvern, Rouge
1         M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough        Kennedy Park, Ionview, East Birchmount Park
7         M1L  Scarborough                    Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough    Cliffside, Cliffcrest, Scarborough Village West
9         M1N  Scarborough                        Birch Cliff, Cliffside West
10        M1P  Scarborough  Dorset Park, Wexford Heights, Scarborough Town...
11        M1R  Scarborough                                  Wexford, Maryvale

In [7]:
df

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke Northwest,"Clairville, Humberwood, Woodbine Downs, West H..."

Dataframe shape

In [8]:
print(df.shape)

(103, 3)

<h2 id="4. Adding GeoSpatial data to the Dataframe">4. Adding GeoSpatial data to the Dataframe</h2>

Use the csv file to add GeoSpatial data to the dataframe

In [9]:
df2 = pd.read_csv("Geospatial_Coordinates.csv")
df[['Latitude','Longitude']]=df2[['Latitude','Longitude']].reindex()

Pandas Dataframe with Geospatial coordinates

In [10]:
df.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849

In [11]:
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke Northwest,"Clairville, Humberwood, Woodbine Downs, West H...",43.706748,-79.594054

In [12]:
print(df.shape)

(103, 5)